*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.btn{
  background-color: skyblue;
  color: white;
  margin: 5px;
  transition: .2s linear;
  padding: 5px;
  border: none;
  border-radius: 5px solid;
}
.btn:hover{
  transform: scale(0.9);
}
.count{
  font-size: 50px;
  color: red;
}

.navbar{
  background-color: purple;
  color: yellow;
  padding: 10px;
}